Avocado/
Olive/
Vineyard/
Metrics/
Data/
Data_with_descriptors.csv
Dataset_with_images.csv
output.csv
total_data.csv
Sample_code_avocado.mlx
Figures/
Models/
metrics.csv
metrics_recreated.csv
metrics_sorted.csv
data_random_order.csv
